<title>Your Account / Babble</title>
<%- include('../headers') %>

<body class="bg-white w-full">
    <section class="theme-text body-font relative">
        <div class="container flex px-5 py-1 mx-auto h-full">
            <%- include('../home/left.ejs') %>
            <div class="tweetContainer lg:w-1/2 md:w-2/3 mx-auto border-r border-l theme-border-gray-300 px-2 py-2 h-full
                overflow-y-auto overflow-x-hidden">
                <div class="flex flex-wrap -m-2">
                    <div class="p-2 w-full border-b theme-border-gray-300 flex">
                        <button class="h-6 w-6 mx-2 text-indigo-500 mt-1 mr-4 focus:outline-none" id="goBack">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                            </svg>
                        </button>
                        <h1 class="text-xl theme-text font-bold">Change your password</h1>
                    </div>
                    <div class="settingsContainer w-full h-auto">
                        <form name="changePass" action="/settings/password" onsubmit="return validateForm()"
                            method="POST" class="w-full">
                            <span class="text-red-500 text-sm font-semibold"><% if(typeof message != 'undefined') { %> <%= message %> <% } %> <br></span>
                            <div class="current-pass-section w-full border-b-4 border-gray-300 p-2">
                                <label for="cpass" class="text-md">Current Password</label>
                                <input type="password" name="cpass"
                                    class="text-lg w-full border my-2 border-gray-300 rounded p-3 py-4 focus:outline-none focus:border-indigo-500">
                                <span class="text-red-500 text-sm font-semibold cpass-err hidden">This cannot be
                                    empty</span>
                            </div>
                            <div class="new-pass-section w-full border-b-4 border-gray-300 p-2">
                                <label for="npass" class="text-md">New Password</label>
                                <input type="password" name="npass"
                                    class="text-lg w-full border my-2 border-gray-300 rounded p-3 py-4 focus:outline-none focus:border-indigo-500">
                                <span class="text-red-500 text-sm font-semibold npass-err hidden">This cannot be
                                    empty <br></span>
                                <label class="text-md">Confirm Password</label>
                                <input name="conpass" type="password"
                                    class="text-lg w-full border my-2 border-gray-300 rounded p-3 py-4 focus:outline-none focus:border-indigo-500">
                                <span class="text-red-500 text-sm font-semibold conpass-err hidden">This cannot be
                                    empty</span>
                            </div>
                            <div class="w-full border-b-4 border-gray-300 p-2">
                                <span class="text-md text-gray-600">
                                    Changing your password will log you out of all your active Twitter sessions
                                    including
                                    the one you’re using at this time.
                                </span>
                            </div>
                            <div class="action-section w-full p-2 align-left">
                                <button type="submit"
                                    class="rounded-full bg-indigo-500 text-white font-semibold p-2 px-4 float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-1/4 -ml-5 mb-12">
                <%- include('./right.ejs') %>
            </div>
        </div>
    </section>
</body>
<script>
    document.querySelector('#goBack').onclick = () => {
        window.history.back();
    }

    function validateForm() {
        var cpass = document.forms["changePass"]["cpass"].value,
        npass = document.forms["changePass"]["npass"].value;
        conPass = document.forms["changePass"]["conpass"].value
        if (cpass == "") {
            $(".cpass-err").show()
            return false;
        } else if (npass == "") {
            $(".npass-err").show()
            return false;
        } else if (conPass == "") {
             $(".connpass-err").show()
            return false;
        } else if (npass !== conPass) {
             $(".conpass-err").show().html("Passwords dont match")
            return false;
        }
    }
</script>

</html>