<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include("../headers.ejs") %>
    <style>
        .loginContainer {
            height: 250px;
        }

        .signupContainer {
            height: 550px;
        }
    </style>
</head>

<body class="bg-indigo-500">
    <div class="absolute w-full h-full flex">
        <div class="w-1/2 left-panel bg-white h-full p-4">
            <div class="header py-4 px-10 w-full h-16">
                <img class="h-12 w-12" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
                    alt="Workflow">
            </div>
            <div class="bdy p-4 w-full flex mt-4">
                <h1 class="text-5xl text-black font-bold w-full p-10">
                    Connect with friends and the world around you on Babble
                </h1>
            </div>
        </div>
        <div class="rightPanel w-full h-full p-4">
            <div class="formsContainer mx-auto w-1/2 h-full py-10">
                <div class="loginContainer bg-white rounded-xl shadow-lg w-full p-10">
                    <h1 class="font-bold text-4xl flex">Log In <span class="text-sm text-red-400 mt-5 mx-4">
                            <% if(messages.error) { %>
                            <%= messages.error %>
                            <% } %>
                        </span> </h1>
                    <form action="/accounts" method="POST" class="w-full mt-4">
                        <div class="inputContainer flex w-full mb-5">
                            <input type="email" name="email" id="" placeholder="Email"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 mr-2">
                            <input type="password" name="pass" id="" placeholder="Password"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 ml-2">
                        </div>
                        <div class="formActions flex w-full">
                            <div class="w-1/2">
                                <input type="submit" value="log in"
                                    class="py-2 px-6 w-1/2 bg-indigo-500 text-white font-semibold rounded-lg">
                            </div>
                            <div class="w-1/2 flex">
                                <div class="w-1/4"></div>
                                <a href="" class="my-2 ml-3 text-indigo-500 font-semibold text-lg">Forgot your
                                    password?</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="signupContainer bg-white rounded-xl shadow-lg w-full p-10 mt-20">
                    <h1 class="font-bold text-4xl">Sign Up</h1>
                    <h1 class="font-bold text-gray-900 text-3xl">It's quick and easy.</h1>
                    <form action="/accounts/register" method="POST" class="w-full mt-5">
                        <div class="inputContainer flex w-full mb-5">
                            <input type="text" name="fname" id="" placeholder="First Name"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 mr-2">
                            <input type="text" name="lname" id="" placeholder="Last Name"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 ml-2">
                        </div>
                        <input type="email" name="email" id="" placeholder="Email"
                            class="w-full p-3 rounded-lg bg-gray-200">
                        <div class="inputContainer flex w-full mb-5 mt-5">
                            <input type="password" name="password" id="" placeholder="Password"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 mr-2">
                            <input type="password" name="cpass" id="" placeholder="Confirm Password"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 ml-2">
                        </div>
                        <span class="text-md text-gray-500 font-semibold">Use 8 or more charachters with a mix of
                            letters, numbers & symbols </span>
                        <div class="inputContainer flex w-full mb-5 mt-5">
                            <input type="text" name="username" id="" placeholder="Username"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 mr-2">
                            <input type="date" name="dob" id="" title="Date Of Birth"
                                class="p-3 rounded-lg bg-gray-200 w-1/2 ml-2">
                        </div>
                        <div class="formActions flex w-full mt-5">
                            <div class="w-1/2">
                                <input type="submit" value="Sign Up"
                                    class="py-2 px-6 w-1/2 bg-indigo-500 text-white font-semibold rounded-lg">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>