<div class="fixed inset-0 overflow-y-auto postModal hidden" style="z-index:10">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full "
            role="dialog" aria-modal="true" aria-labelledby="modal-headline">

            <div class="flex flex-wrap">
                <form method="POST" enctype="multipart/form-data" action="/post" class="w-full ">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="p-3 w-full flex">
                                <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png"
                                    alt="" class="h-10 w-10 rounded-full">
                                <input type="text" name="caption"
                                    class="caption w-full rounded focus:outline-none foucs:border-b border-gray-200 h-10 text-base px-4 py-2 resize-none block theme-bg"
                                    placeholder="Whats Happening?" />
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <div class="p-2 w-full border-t-2 pt-4 pb-3 theme-border-gray-300 flex">
                            <div class="w-full flex space-x-2 -mt-2">
                                <button type="button" id="upImage"
                                    class="h-8 w-8 mt-4 mx-4 rounded-full bg-gray-300 p-2 hover:bg-gray-400 focus:outline-none"
                                    title="Upload Image">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                                    </svg>
                                </button>
                                <%- include('./uploadImage.ejs') %>
                            </div>
                            <button type="submit" onclick="createPost($('.tweetMSg').val())"
                                class="flex mx-auto text-white bg-indigo-500 border-0 py-1 px-8 focus:outline-none rounded-full text-lg float-right h-10 py-1"
                                style="height: 40px;padding-top: 6px;">Post</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>